<div class="hero-unit">
	<h1>My Bucket Lists</h1>
	<p>this is a site for you to track what you want to accomplish in life!</p>
	<p><%= link_to "Get Started", new_list_url, :class => "brn btn-primary btn-large" %></p>
</div>

<table class="table table-triped">
	<thead>
		<th>Name</th>
		<th>Reason</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @lists.each do |list| %>
			<tr>
				<td><%= link_to list.name, list_path(list) %></td> 
				<td><%= list.reason %></td>
				<td><%= link_to "Edit", edit_list_path(list) %> | <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?'} %></td>
			</tr>
		<% end %>
	</tbody>
</table>