<h2><%= @list.name %></h2>
<p><%= @list.reason %></p>

<h3>Steps I need to Take</h3>
<ul>
	<% @list.steps.incomplete.each do |single_step| %>
		<li>
			<%= single_step.description %> | <%= single_step.complete %>
			<%= button_to "Complete", complete_list_step_path(@list.id, single_step.id) %>
		</li>
	<% end %>
</ul>

<h3>Steps I Completed!</h3>
<ul>
	<% @list.steps.complete.each do |single_step| %>
		<li><%= single_step.description %></li>
	<% end %>
</ul>

<h2>Add Step</h2>
<p>Baby steps will help you achieve your goal</p>

<%= form_for [@list, @list.steps.new] do |form| %>
	<%= form.text_field :description %>
	<%= form.submit %>
<% end %>
